{% extends 'base.html.twig' %}

{% block title %}Manager console{% endblock %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 m-2">
        <h5 mb-3>Categories of books</h5>
        {{ form_start(form) }}
        <div class="m-3">
        <div class="form-group">
                <label>Category</label>
                <div>{{form_widget(form.title,{'attr': {'class': 'form-control'}})}}</div>
            </div>
            <button class="btn btn-primary">{{ button_label|default('Create') }}</button>
        </div>
        {{ form_end(form) }}
            <table class="table table-light table-bordered">
                 <thead class="thead-light">
                     <tr>
                         <th>id</th>
                         <th>Title</th>
                         <th></th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for category in categories %}
                         <tr>
                             <td>{{ category.id }}</th>
                             <td>{{ category.title }}</th>
                             <td><a class="btn btn-outline-primary" href="{{ path('update_cat',{'id': category.id}) }}">Update</a></th>
                             <td><a class="btn btn-outline-primary" href="{{ path('delete_category',{'id': category.id}) }}">Delete</a></th>
                         </tr>
                     {% endfor %}
                 </tbody>
            </table>
        <div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 m-3">
            <h5>List of books</h5>
            <div class="m-3"><a class="btn btn-primary btn-lg" href="/manager/new">Create</a></div>
                <table class="table table-light table-bordered">
                    <thead class="thead-light ">
                        <tr>
                            <th>id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                            <th></th>
                            <th></th>
                            <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                    <tr>
                                        <td>{{ book.id }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{book.author}}</td>
                                        <td>{{ book.year }}</td>
                                        <td><a class="btn btn-outline-primary" href="{{ path('add_to',{'id': book.id}) }}">Добавить книгу в категорию</a></th>
                                        <td><a class="btn btn-outline-primary" href="{{ path('update_book',{'id': book.id}) }}">Update</a></td>
                                        <td><a class="btn btn-outline-primary" href="{{ path('delete_book',{'id': book.id}) }}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    {% if previous >= 0 %}
                                        <a class="page-link" href="{{ path('manager', { offset: previous , perPage: perpage}) }}">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% endif %}
                                </li>
                                <li class="page-item">
                                    {% if next < books|length %}
                                        <a class="page-link" href="{{ path('manager', { offset: next, perPage: perpage }) }}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
