{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

    <div class="container">
<div class="row justify-content-center">

    <div class="col-xs-12 col-sm-12 col-lg-12">
         <div class="media bg-white rounded shadow-sm m-4 p-3">
              <div class="col-xs-2 col-sm-4 col-lg-4 mr-4">
                   <img src="{{ book.picture }}" class="img-fluid max-width: 100px" alt="book picture"  />
              </div>
              <div class="media-body">
                   <h3 class="mt-0">{{ book.title }}</h3>
                   <p>By {{ book.author }}</p>
                   <p> First publication in {{ book.year }}</p>
                   <p> Categories:
                        {% for category in categories %}
                             {{category.title}}
                        {% endfor %}
                   </p>
                   <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
