{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="container">
<div class="bg-white rounded shadow-sm m-4 p-3">
<h2 class="mt-0 text-center">{{ book.title }}</h2>
<div class="row justify-content-center">

        <div class="col-xs-10 col-sm-4 col-lg-4">
            <img src="{{ book.picture }}" class="img-fluid max-width: 100px" alt="book picture"  />
        </div>

        <div class="col-xs-10 col-sm-8 col-lg-8">

             <p>By {{ book.author }}</p>
             <p> First publication in {{ book.year }}</p>
             <p> Categories:
                        {% for category in categories %}
                             {{category.title}}
                        {% endfor %}
             </p>
             <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <td><a class="btn btn-outline-primary" href="{{ path('add_to',{'id': book.id}) }}">Добавить книгу в категорию</a></th>
         </div>
    </div>

</div>
</div>
{% endblock %}